.body{
   height:100vh;
 }

 .Header{
  background-color: #002651;
  height:7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .Title{
   padding-left: 5%;
   color: white;
   cursor: pointer;
 }

 .Title a{ 
   text-decoration: none;
   color: white;
 }

 .UserProfileLogo{
  padding-right: 5%;
 }

 .footer{
  background-color:#002651;
  height:7%;
  display: flex;
  align-items: center;
 }

 .copyright{
  margin: auto auto;
  color: white;
 }

 .main{
  height:85.7%;
  width: 80%;
  margin: 0 auto;
  flex: 1;
  overflow: auto;
  display: flex;
  border: 1px solid grey;
  align-items: center;
  flex-direction: column;
 }

 .Container{
   display:flex;
   justify-content: space-between;
   height:20%;
   width:96%;
   border-top: 1px solid grey;
   align-items: center;
   padding: 2%;
 }

 .userImage img{
   height:100px;
   width: 100px;
   padding-left: 20%;
   cursor: pointer;
 }

 .userDetails{
   width: 40%;
   display: flex;
   flex-direction: column;
 }

 .profileContainer{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  height:50%;
  width:80%;
  align-items: center;
  padding: 2%;
 }
 
 .profileDetails{
   text-align: center;
 }

 .profilePicture img{
  padding-left: 20%;
  height: 80%;
  width: 60%;
 }

 .searchContainer{
   display: flex;
   width: 40%;
   justify-content: space-around;
 }

 .searchIcon{
   display: flex;
   align-items: center;
   border: none;
 }

 .search{
   background-color: white;
   border: none;
   height: 69%;
   cursor: pointer;
 }

 .searchedCandidate{
   height: 40%;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-around;

 }